body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #090088;
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
  font-family: monospace;
}

h2 {
  color: #090088;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #e4007c;
}

li:first-letter {
  text-transform: capitalize;
}

a:hover {
  color: #930077;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #cfced1;
  border-radius: 10px;
  margin-bottom: 0;
}

.btn {
  background-color: #e4007c;
  border-color: #e4007c;
}

.btn:hover {
  background-color: #930077;
  border-color: #930077;
}

.overview {
  margin-bottom: 20px;
}

.time-description {
  color: gray;
}

.icon-emoji {
  font-size: 56px;
  margin-right: 20px;
  margin-top: 5px;
  text-align: center;
  line-height: 1;
}

.weather-temperature strong {
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -32px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  font-size: 18px;
  font-weight: bold;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 22px;
  text-align: center;
  color: #000;
}

.forecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.forecast-temperature {
  font-size: 13px;
}

.forecast-temperature-min {
  opacity: 0.5;
}

.forecast-icon-emoji {
  font-size: 32px;
}
